---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/header.tsx';
import Footer from '../components/layout/footer.tsx';

const posts = await getCollection('posts');
---

<Layout title="Art Park Show Me Site">
  <div>

      <div class="flex min-h-screen flex-col font-sans bg-neutral-200/80">
          <Header />
          <main class="max-w-none flex flex-1 flex-col">
              <div class="flex-1">
                  <div>THIS MIGHT BE THE ...SLOT...</div>
              </div>
          </main>
          <Footer />
      </div>

      <hr/>
      <hr/>
      <hr/>
      <hr/>
      <hr/>
      <div class="flex justify-center">
          <h1 class="text-6xl font-bold text-center">Big Text Example</h1>
      </div>


    <p>
      This homepage shows how to load data from Astro's content collections.
    </p>
    <p>
      <a href="/keystatic">Click here to visit the Admin UI</a>, or the link
      below to view a post in the collection.
    </p>
    <h2>Posts</h2>
    <ul>
      {
        posts.map(post => (
          <li>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
